@font-face {
  font-family: myFirstFont;
  src: url(Neuton-Light.ttf);
}

* {
  font-family: myFirstFont;
}
.btn-agric{
  background-color:#428da5 ;
  color: #fff;
  padding: 1.1rem;
  border-radius: 0 !important;
}
.btn-white{
  
  background-color:#fff ;
  color: #428da5;
  padding: 1.1rem;
  border-radius: 0 !important;
}