.banner{
    width: 100%;
    height: 70vh;
    object-fit: cover;
}

.tagline-class{
    top: 0;
}
.tagline{
    width: 100%;
    height: 100%;
    align-content: center;
    justify-content: center;
}
.tagline h1{
    color: #fff;
}
